.container {
  max-width: 960px; }

.site-header {
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px); }

.site-header a {
  color: #ff0000;
  transition: color 0.5s ease-in-out; }

.site-header a:hover {
  color: black;
  text-decoration: none; }

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg); }

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px; }

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5; }

.flex-equal > * {
  flex: 1; }

@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1; } }

.transito {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-size: 200%;
  color: black;
  background-color: #C6F91F;
  border-radius: 33px 33px 33px 33px;
  -webkit-border-radius: 33px 33px 33px 33px;
  -moz-border-radius: 33px 33px 33px 33px;
  border: 10px double #000000;
  padding: 1rem;
  margin: 1rem; }

.carousel {
  margin-bottom: 4rem; }

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
  color: #fffb00; }

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%; }

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center; }

.marketing h2 {
  font-weight: 400; }

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem; }

.featurette-divider {
  margin: 5rem 0; }

.featurette-heading {
  /* rtl:remove */
  letter-spacing: -.05rem; }

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4; }
  .featurette-heading {
    font-size: 50px; } }

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem; } }

.body {
  background-color: black;
  margin: 0;
  padding: 0; }

.body__h1 {
  background-color: #ff4d00;
  color: #0C1618;
  font-size: 300%;
  box-sizing: border-box;
  border: 0.2rem #000000 solid;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem; }

.body__h2 {
  font-size: 150%;
  text-decoration-line: underline;
  color: #00be98;
  box-sizing: border-box;
  border: 0.2rem #00be98 solid;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  background-color: black; }

.body__p {
  font-size: 150%;
  color: #00be98; }

.body__h3 {
  font-size: 150%;
  text-decoration-line: underline;
  color: #D7F4E1; }

h1 {
  font: 2.5em; }

h2 {
  font: 1.25em; }

h3 {
  font: 0.83333em; }

h4 {
  font: 0.625em; }

h5 {
  font: 0.5em; }

.animales-icon {
  background-image: url("./img/animales.gif"); }

.animales-icon {
  background-image: url("./img/animales.gif"); }

.animales-icon {
  background-image: url("./img/animales.gif"); }

.animales-icon {
  background-image: url("./img/animales.gif"); }

.animales-icon {
  background-image: url("./img/animales.gif"); }

.animales-icon {
  background-image: url("./img/animales.gif"); }

.btn--name-color {
  background-color: #55acee;
  border: #55acee; }

.btn--name-color {
  background-color: #3a5795;
  border: #3a5795; }

.btn--name-color {
  background-color: #c25e30;
  border: #c25e30; }

.btn--name-color {
  background-color: #8f348f;
  border: #8f348f; }

.redsocial, .redsocial--nueva {
  border: 1px #ff0000;
  background-color: aqua;
  width: 100px;
  height: 50px;
  padding: 10px; }

.redsocial--nueva {
  border: 3px; }

.caja {
  width: 500px; }

.container {
  max-width: 960px; }

.site-header {
  background-color: #ff4d00;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  position: fixed;
  margin-top: 0%; }

.site-header a {
  color: #ffec09f2;
  transition: color 0.5s ease-in-out; }

.site-header a:hover {
  color: black;
  text-decoration: none; }

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg); }

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px; }

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5; }

.flex-equal > * {
  flex: 1; }

@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1; } }

.transito {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-size: 200%;
  color: black;
  background-color: #C6F91F;
  border-radius: 33px 33px 33px 33px;
  -webkit-border-radius: 33px 33px 33px 33px;
  -moz-border-radius: 33px 33px 33px 33px;
  border: 10px double #000000;
  padding: 1rem;
  margin: 1rem; }

@media only screen and (max-width: 500px) {
  .carousel-item {
    height: 250px;
    width: 100%;
    font-size: 45%; } }

@media screen and (min-width: 501px) and (max-width: 800px) {
  .carousel-item {
    height: 360px;
    width: 100%;
    font-size: 65%; } }

@media screen and (min-width: 801px) and (max-width: 1024px) {
  .carousel-item {
    height: 460px;
    width: 100%;
    font-size: 75%; } }

@media screen and (min-width: 1025px) and (max-width: 1920px) {
  .carousel-item {
    height: 700px;
    width: 100%;
    font-size: 75%; } }
